.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 2em auto;

    .inner_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid rgba(100, 100, 100, 0.2);
        padding: 1em;

        p{
            font-size: .75em;
            margin: 0 0 1em 3em;
            text-align: start;
        }

        abbr{
            color: darkgray;
        }

        .formField{
            margin: .5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .errorWrapper{
                min-height: 1em;
            }

            label{
                text-align: start;
                text-transform: capitalize;
                margin-bottom: .5em;
                cursor: pointer;
            }

            input{
                width: calc(100% - 1em);
                padding: .5em;
                border: 1px solid rgba(100, 100, 100, 0.2);
                outline: none;
                background: white;
                &:focus{
                    border: 1px solid black;
                }

                &::placeholder{
                    color:rgba(100, 100, 100, 0.4);
                }

                &:invalid{
                    border: 1px solid red;
                }
            }

            &_row{
                @extend .formField;
                flex-direction: row;
                justify-content: flex-start;
            }

            .checkbox_container{
                padding: 0;
                margin: 0 1em 0 0;
                height: .75em;
                width: .75em;
                position: relative;
                border: 1px solid black;
                background: transparent;
                cursor: pointer;

                .custom{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: .5em;
                    width: .5em;
                }

                input:checked ~ .custom{
                    background-color: black;
                }

                input{
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 10;
                    cursor: pointer;
                }
            }
        }
    }
}