@mixin btn-reset {
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@mixin btn-style {
    width: 100%;
    color: white;
    padding: 1em 4em;
    margin-bottom: 1em;
    font-size: 1.05em;
    font-weight: 300;
    background-color: black;
    text-align: center;
    transition: all .2s ease;
    &:hover{
        opacity: .6;
    }
}
.wrapper{
    padding-top: 3em;

    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;;

        img{
            width: 100%;
        }

        .details{
            color: black;
            padding: 2em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5em 1fr 2fr;
            
            nav{
                grid-column: span 2;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .backBtn{
                    @include btn-reset;
                    @include btn-style;
                    color: rgba(0, 0, 0, 0.392);
                    background-color: rgba(240, 240, 240, 0.6);
                }

                .navBtn{
                    @include btn-reset; 
                    &:hover{
                        text-decoration: underline;
                    }     
                }
            }
            
            .productDetails{
                align-self: center;
                justify-self: start;

                ul{
                    list-style: none;
                    justify-self: start;
                    padding-inline-start: 0;
                    li{
                        display: inline-block;
                        margin-right: .5em;
                    }
                }
            }

            .productPrice{
                align-self: center;
                justify-self: end;
                font-size: 1.2em;
                font-weight: bold;
                letter-spacing: .07em;
            }

            .btnContainer{
                width: 100%;
                // grid-row: 2 / 3;
                grid-column: span 2;
                justify-self: center;
                text-align: center;
                
                button{
                    @include btn-reset;
                    @include btn-style;
                }

                .error{
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }

    .description{
        width: 80%;
        margin: 1em auto;
        padding: 1em;
        line-height: 1.5em;
        letter-spacing: .08em;

        .tags{
            display: flex;

            p{
                margin-right: 1em;
            }
        }
    }
}