.cartIcon{
    max-width: 1.5em;
    position: relative;
    cursor: pointer;

    .icon{
        height: 1.15em;
        padding: 0;
        margin: 0;
    }

    .itemNumber{
        position: absolute;
        right: -1em;
        top: -.5em;
        font-size: .8em;
        color: black;
        padding: .05em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}