.grid{
    margin-top: 4em;
    display: grid;
    grid-template-columns: 50% 50%;

    .cartReview{
        padding: 1em;
    }

    .stripeContainer{
        padding: 1em;
        box-shadow: -15px 0 10px -10px rgba(0,0,0,0.1);
    }
}