.wrapper{ 
    padding-top: 50px; 
    width: 90%; 
    margin: 0 auto; 
    text-align: center;

    .moreBtn{
        box-sizing: border-box;
        padding: 1em 4em;
        margin: 1em;
        background-color: white;
        border: 1px solid white;
        color: black;
        outline: none;
        cursor: pointer;
        &:hover{
        border: 1px solid black;
        }
    }
}